h1 {

    color: whitesmoke;
}

h2 {

    color: rgb(190, 42, 190);
}

.highlight {

    color: rgb(194, 75, 184);
}

body {

    background: linear-gradient(#ff9a9e, #fad0c4);
    }
    
#font {

    font-family: didot;
}

#lists ul,ol {

    color:whitesmoke;

}

#a:link,a:visited {

color:whitesmoke;

}


#a:hover,a:active {

color: grey

} 