@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');


body,
html {

    font-family: salsa, sans-serif;
    color: whitesmoke;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right top, #09796f, #00747b, #006d86, #00658d, #005c8e, #08568e, #174f8e, #26488c, #1f438e, #193e8f, #143890, #113290);
}


h1 {
    color: whitesmoke;
    font-size: 30px;
    font-family: Shrikhand, sans-serif;
}

.projectsfont {

    color: red;
}

#header {

    background-color: rgb(22, 23, 90);
    height: 100px;
    font-family: shrikhand;
}

#projects-header {

    color: red;
}

figcaption {

    float: left;
}



h2 {

    color: whitesmoke;
    font-family: Shrikhand, sans-serif;

}

h3 {

    color: whitesmoke;
    font-family: Shrikhand, sans-serif;
}

.highlight {

    color: whitesmoke;
    font-family: Shrikhand, sans-serif;
}

.lists ul,
ol {

    color: whitesmoke;
    text-align: left;

}

#listheaders {

    background-color: rgb(22, 23, 90);
    height: 50px;
}

#a:link,
a:visited {

    color: whitesmoke;

}


#a:hover,
a:active {

    color: rgb(84, 225, 250);

}

li::marker {

    color: #26488c;
}

p {
    position: relative;
}

/* the above code is to do with positioning, and allows us to use the z-index property below, we will get to positioning a bit later on */

footer::after {
    content: "";
    background-color: rgb(69, 123, 204);
    height: 20px;
    width: 50%;
    position: absolute;
    left: 20px;
    z-index: -1;
}

a {

    text-decoration: none;
}

.span-element {
    height: 100px;
    width: 100px;
    color: white;
    background-color: blue;
}

.selfie {

    float: right;
    overflow: hidden;
    height: 300px;
    border: 5px solid #030000;
    padding: 10x;
    border-radius: 50%;
    border-width: 3px;
}

#leeds {
    float: left;
    overflow: hidden;
    height: 300px;
    border: 5px solid #030000;
    padding: 10;
    border-radius: 50%;
    border-width: 3px;
}

#leeds~figcaption {

    border: double rgb(57, 58, 121) 10px;
    display: inline;
}

#dog~figcaption {

    border: double rgb(57, 58, 121) 10px;
    display: inline;
}

#dog {
    float: left;
    overflow: hidden;
    height: 300px;
    border: 10px solid #030000;
    padding: 10;
    border-radius: 50%;
    border-width: 3px;
}

.dropbtn {
    background-color: rgb(36, 36, 102);
    color: white;
    padding: 25px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(232, 240, 237);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(36, 36, 102);
    padding: 12px 16px;
    font-family: shrikhand, sans-serif;
    display: block;
}

.dropdown-content a:hover {

    background-color: rgb(66, 154, 212);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

    background-color: rgb(36, 36, 102);
}

#details-boxes label {

    padding: 5px;
    border-radius: 10px;
    margin: 5px auto;
    border: 1px solid #6cd3bd;
    background-color: #6cd3bd;
    box-shadow: 1px 2px 1px 2px rgb(151, 223, 166);
    color: whitesmoke;
    outline: none;
    font-size: 18px;

}

.submitbtn {

    text-align: center;
}

.buttons {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons:hover {
    color: white;
}

table,
th,
td {
    border: 3px groove;
    border-radius: 5px;
    border-color: rgb(65, 212, 200);
}

.box {
    height: 100px;
}

@media screen and (min-width: 320px) {
    .box {
        height: 500px;
    }
}